@charset "UTF-8";

/* 헤더 */
header {
  height: 100px;
  /* background: red; */

  padding: 35.5px 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav h1 {
  font-family: "PP Neue Montreal Book", sans-serif;
  font-size: 1.5rem;
}

.gnb {
  display: flex;
  gap: 60px;
}

.gnb li a {
  display: block;
  font-family: "PP Neue Montreal Book", sans-serif;
  font-size: 1.5rem;
  padding: 10px 0;
}

.gnb li a:hover {
  border-bottom: 1px solid #000;
}

#main {
  padding-top: 100px;
}

/* main-home */

.hero {
  position: relative;
  min-height: calc(100vh - 100px);
  overflow: hidden;
}

.layer {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  padding: 0 60px 30px;
  /* min-height: calc(100vh - 100px); */
}

.layer-home {
  /* min-height: calc(100vh - 100px); */
  /* display: flex;
  align-items: flex-end;
  padding: 0 60px 30px; */
  z-index: 1;
}

.inner {
  width: 1800px;
  margin: 0 auto;
  /* position: absolute;
  bottom: -30px;
  left: 60px; */
}

.home-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* .text-left {
  position: absolute;
  bottom: -30px;
  left: 60px;
} */

.text-left h2 {
  font-family: "PP Neue Montreal Book", sans-serif;
  font-size: 15rem;
}

.text-left h3 {
  font-family: "PP Neue Montreal Book", sans-serif;
  font-size: 15rem;
}

.text-left p {
  font-family: "PP Neue Montreal Book", sans-serif;
  font-size: 1.625rem;
  color: #555;
  line-height: 1.6;
}
/* 
.text-right {
  position: absolute;
  bottom: -30px;
  right: 60px;
} */

.text-right p {
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 1.6;
  color: #555;

  border-left: 1px solid #000;
  padding-left: 20px;
}

.text-right strong {
  font-weight: 700;
  color: #000;
}

/* 서문 페이지 */

.layer-intro {
  z-index: 2;
}

.layer-intro .intro-text {
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 1.6;
  position: absolute;
  top: 200px;
  right: 120px;

  opacity: 0;
  filter: blur(12px);
  will-change: opacity, filter;
}

.intro-text h4 {
  margin-top: 20px;
}
.intro-text h5 {
  margin-top: 20px;
}

.scroll-next {
  position: absolute;
  bottom: 110px;
  left: 360px;

  z-index: 3;
  opacity: 0;
  filter: blur(12px);
  will-change: opacity, filter;
}

.scroll-next a {
  font-family: "PP Neue Montreal Book", sans-serif;
  font-size: 1.25rem;
  color: #555;
}

.scroll-next a:hover {
  color: #000;
}

/* ------------------------------about-me */

#sec2 {
  height: 100vh;
}

.about-me {
  position: relative;
}

.about-me > .inner {
  width: 1680px;
  margin: 0 auto;
}

.about-me h2 {
  font-family: "PP Neue Montreal Book", sans-serif;
  font-size: 90px;
}

.about-wrap {
  display: flex;
  justify-content: space-between;
}

.profile-left {
  display: flex;
  gap: 50px;
  margin-top: 163px;
}

.profile-left h3 {
  font-weight: 600;
  font-size: 2.25rem;
}

.profile-left span {
  font-family: "PP Neue Montreal Thin", sans-serif;
  font-size: 1.125rem;
  color: #555;
}

.profile-left h4 {
  margin-top: 27px;
  font-size: 1.125rem;
  color: #555;
  line-height: 1.6;
}
.profile-left h5 {
  margin-top: 12px;
  font-size: 1.125rem;
  color: #555;
  line-height: 1.6;
}

/* .profile-right {
  padding: 20px 0;
} */

.profile-right .info {
  display: flex;
  gap: 80px;
}

.profile-right .info li {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-family: "PP Neue Montreal Book", sans-serif;
  font-size: 1.375rem;
}

.profile-right .info li strong {
  font-family: "PP Neue Montreal Medium", sans-serif;
  font-size: 1.5rem;
}

.profile-right .education {
  margin-top: 80px;
}

.profile-right .education dt {
  font-family: "PP Neue Montreal Medium", sans-serif;
  font-size: 1.5rem;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

.profile-right .education ul li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
  font-size: 1.25rem;
}

.profile-right .education ul li time {
  font-family: "PP Neue Montreal Book", sans-serif;
  color: #555;
  font-size: 1.25rem;
  margin-top: 30px;
}

.profile-right .certificate {
  margin-top: 60px;
}

.profile-right .certificate dt {
  font-family: "PP Neue Montreal Medium", sans-serif;
  font-size: 1.5rem;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

.profile-right .certificate ul li {
  font-weight: 400;
  font-size: 1.25rem;
  margin-top: 30px;
}

.profile-right .material {
  margin-top: 60px;
}

.profile-right .material dt {
  font-family: "PP Neue Montreal Medium", sans-serif;
  font-size: 1.5rem;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

.profile-right .material ul {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

/* -------------------------------------works */

.works {
  margin-top: 300px;
}

.works-wrap {
  display: flex;
  justify-content: space-between;
  /* height: 793px; */
}

.works-info {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.works-info h2 {
  font-family: "PP Neue Montreal Book", sans-serif;
  font-size: 3rem;
}
.works-info h3 {
  font-family: "PP Neue Montreal Thin", sans-serif;
  font-size: 2.625rem;
}

.meta {
  display: flex;
  gap: 180px;
  margin-top: 358px;
}

.meta dt {
  font-family: "PP Neue Montreal Book", sans-serif;
  font-size: 1.5rem;
}

.meta dd {
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 1.6;
  font-weight: 300;
  font-size: 1.25rem;
  color: #555;
}

.works-shot {
  width: 738px;
  height: 845px;
}

.works-shot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----------------------------wokrs-banner */
.works-banner {
  margin-top: 300px;
}

.worksss {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title .kicker {
  font-weight: 400;
  font-size: 1.25rem;
  color: #555;
  line-height: 1.6;
  text-align: right;
}

.title .kicker strong {
  color: #000;
}

.title h2 {
  font-family: "PP Neue Montreal Medium", sans-serif;
  font-size: 3rem;
}

.title h3 {
  font-family: "PP Neue Montreal Thin", sans-serif;
  font-size: 3rem;
  color: #555;
}

/* 컨테이너 비율/높이 고정 */
.mock-col {
  width: 738px;
  height: 386px;
}
.hero-slider,
.hero-slider .swiper-wrapper,
.hero-slider .swiper-slide {
  width: 100%;
  height: 100%;
}

.hero-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.hero-meta .hero-num {
  font-weight: 500;
}
.hero-meta .hero-cap {
  font-weight: 500;
}

.thumbs-slider {
  margin-top: 134px;
}

.thumbs-slider .swiper-slide {
  width: 240px;
  height: 300px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbs-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.thumbs-slider .swiper-slide img:hover {
  transform: scale(1.2);
}

.thumbs-slider .swiper-wrapper {
  display: flex;
  /* justify-content: space-between; */
  counter-reset: thumb;
}

.thumbs-slider .swiper-slide::before {
  counter-increment: thumb;
  content: "/ " counter(thumb, decimal-leading-zero); /* / 01, / 02 ... */
  position: absolute;
  left: 0;
  top: -20px;
  font-weight: 600;
}

.thumb-num {
  font-weight: 500;
}

.thumb-frame {
  overflow: hidden;
}
